#pagecontainer {
    width: 1000px;
    height: 1000px;
    text-align: center;
    margin: 0 auto;

}

@font-face {
    font-family: KulimPark;
    src: url(fonts/kulimpark.ttf);
  }

header {
    position: sticky;
    margin-top: -8px;
    top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: space-between;
    background-color: #87CFDC;
    font-family: KulimPark;
    
}

.navbox {
    height: 100px;
    width: 33%;
    border-style: solid;
    padding: 0px 10px 30px 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: left;
}

#indexnav {
    border-width: 0px 1px 0px 2px;
}

#info1nav {
    border-width: 0px 1px 0px 1px;
}

#info2nav {
    border-width: 0px 2px 0px 1px;
}

.current {
    background-color: #509FAD;
    color: white;
    border-color: black;
}

.navbox:hover {
    background-color: #5c7e85;
    color: white;
    border-color: black;
}