#pagecontainer {
    width: 1000px;
    height: 1000px;
    text-align: center;
    margin: 0 auto;

}

@font-face {
    font-family: KulimPark;
    src: url(fonts/kulimpark.ttf);
  }

.thumb {
    width: 332.2px;
    float: left;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: space-between;
    background-color: #87CFDC;
    font-family: KulimPark;
    position: sticky;
    margin-top: -8px;
    top: 0;
    z-index: 1;
}

header h1 {
    margin-top: 14px;
    margin-left: -100px;
    font-size: 30px;
    width: 10px;
    float: left;
}

nav {
    display: flex;
    gap: 0px;
    width: 700px;
}

nav ul {
    text-align: left;
}


#logo {
    height: 100px;
    padding-top: 15px;
    padding-left: 10px;
    display: inline-block;
}


.navbox {
    height: 120px;
    width: 33%;
    
    padding: 0px 10px 20px 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
}



.current {
    background-color: #509FAD;
    color: white;
    border-color: black;
}


.navbox:hover {
    background-color: #c2f1fa;
    color: black;
}

.heading {
    margin-top: -25px;
    background-color: #87CFDC;
    font-family: KulimPark;
    text-align: left;
    border: 2px solid;
    height: 450px;
    padding: 20px 0px 0px 20px;
    line-height: 25px;
}


.headingimage {
    width: 450px;
    float: right;
    border: 1px solid;
   
}

.banner {
    background-color: rgba(135, 207, 220);
    width: 584px;
    z-index: 1;
    color: white;
    font-family: KulimPark;
    line-height: 0.7;
    
}

.banner h1 {
    font-size: 50px;
}
.banner p {
    font-size: 30px;
}


.heading h1 {
    font-size: 30px;
    text-decoration: underline;
}

.heading p {
    font-size: 25px;
}

.heading a {
    color: white;
    font-size: 25px;
}

.gallery {
    background-color: #87CFDC;
    color: black;
    height: 304px;
    padding-top: 1px;
    text-align: left;
    font-family: KulimPark;
    border: 2px solid;
    text-decoration: underline;
}

.gallery h1 {
    margin-left: 20px;

}