@font-face {
    font-family: KulimPark;
    src: url(fonts/kulimpark.ttf);
  }

#pagecontainer {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-family: KulimPark;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
}



header {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: space-between;
    background-color: #87CFDC;
    font-family: KulimPark;
    position: sticky;
    top: 0;
    margin-top: -8px;
    z-index: 1;
}

nav {
    display: flex;
    gap: 0px;
}

nav ul {
    text-align: left;
}

#logo {
    height: 140px;
    display: inline-block;
}

.navbox {
    height: 120px;
    width: 175px;
    border-style: solid;
    padding: 0px 10px 20px 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

#indexnav {
    border-width: 0px 1px 0px 2px;
}

#info1nav {
    border-width: 0px 1px 0px 1px;
}

#info2nav {
    border-width: 0px 1px 0px 1px;
}

.current {
    background-color: #3D7F8A;
    color: white;
    border-color: black;
}

.navbox:hover {
    background-color: #c2f1fa;
    color: black;
}


.heading {
    display: flex;
}

.headingtitle {
    width: 554px;
    display: flex;
    flex-grow: 1;
}




.headingimage {
    width: 550px;
    border: 2px solid;
}

.banner {
    position: absolute;
    background-color: rgba(61, 127, 138, 0.7);
    width: 550px;
    margin-top: 215px;
    color: white;
    font-family: KulimPark;
    line-height: 0.7;
}

.banner h1 {
    font-size: 50px;
}
.banner p {
    font-size: 30px;
}

.headingadjacent {
    flex-grow: 1;
    background-color: #87CFDC;
    font-family: KulimPark;
    height: 550px;
    border: 2px solid;
    text-align: left;
    padding-left: 10px;
}

.headingadjacent h1 {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: lighter;
}

.headingadjacent a {
    color: #194944;
    font-size: 25px;
}

#indexadjacent {
    font-size: 25px;
}

#lakeadjacent {
    font-size: 24px;
    padding-right: 30px;
}


#waiata {
    line-height: 15px;
    font-family: KulimPark;
    margin-top: 45px;
}

#waiata h1 {
    text-decoration: underline;
    color: #145D6B
}

#waiata h2 {
    color: #145D6B;
}

#waiata h3 {
    color: rgba(0,0,0, 0.7);
    font-style: italic;
}

#pupukecontainer {
    display: flex;
    justify-content: space-between;
}

#pupukecontainer h3 {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

#pupukegeology {
    text-align: left;
    border: 2px solid;
    padding: 15px;
}

#humanuse {
    text-align: left;
    border: 2px solid;
    padding: 10px;
}

#maorilegend h3 {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

#rangigeology h3 {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

#maorilegend {
    background-color: #87CFDC;
    border: 2px solid;
    padding: 10px;
}

#maoriassociation h3 {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}


.gallery {
    background-color: #145D6B;
    color: white;
    height: 300px;
    border: 1px black solid;
    text-align: center;
    font-family: KulimPark;
}

.gallery h1 {
    margin-left: 20px;
}

.galleryimages {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.thumb {
    height: 220.5px;
    border-width: 0px 1px 0px 1px;
    border-color: black;
    border-style: solid;
}



#rangitoto {
    margin-top: 30px;
    width: 100%;   
}

#rangiadjacent {
    font-size: 20px;
}

#rangigeology {
    text-align: left;
    border: 2px solid;
    padding: 20px;
}

#geologyimg {
    width: 240px;
    height: 303px;
    float: right;
    margin: 0px 20px 20px 20px;
    border: 2px solid;
}

#maoriassociation {
    background-color: #87CFDC;
    border: 2px solid;
    padding: 10px;
}

#infosource {
    background-color: #145D6B;
    border: 2px black solid;
    color: white;
    font-style: italic;
    text-align: left;
    padding-left: 20px;
}

#infosource a {
    color: white;
}

#paoaadjacent {
    font-size: 25px;
}


#earlyhistory {
    text-align: left;
    border: 2px black solid;
    padding-left: 10px;
}

#waitemataadjacent {
    font-size: 24px;
}

#historyinsert {
    float: left;
    height: 408px;
    margin-right: 20px;
}

#history {
    text-align: left;
    height: 408px;
    font-size: 18px;
}


#etymology {
    background-color: #87CFDC;
    border: 2px solid;
    padding: 10px;
}

#etymology h3 {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}