#pagecontainer {
    width: 1000px;
    height: 2000px;
    text-align: center;
    margin: 0 auto;


}

@font-face {
    font-family: KulimPark;
    src: url(fonts/kulimpark.ttf);
  }

.thumb {
    width: 333.33px;
    float: left;
    padding-bottom: 5px;
}


header {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: space-between;
    background-color: #87CFDC;
    font-family: KulimPark;
    position: sticky;
    margin-top: -8px;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    gap: 0px;
}

nav ul {
    text-align: left;
}

#logo {
    height: 140px;
    display: inline-block;
}

.navbox {
    height: 120px;
    width: 175px;
    border-style: solid;
    padding: 0px 10px 20px 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

#indexnav {
    border-width: 0px 1px 0px 2px;
}

#info1nav {
    border-width: 0px 1px 0px 1px;
}

#info2nav {
    border-width: 0px 1px 0px 1px;
}

.current {
    background-color: #509FAD;
    color: white;
    border-color: black;
}

.navbox:hover {
    background-color: #c2f1fa;
    color: black;
}

.heading {
    margin-top: -25px;
}

.headingtitle{
    width: 600px;
    float: left;
    position: relative;
}

.headingimage {
    width: 584px;
    float: left;
    border: 1px solid;
   
}

.banner {
    position: absolute;
    background-color: rgba(135, 207, 220);
    width: 584px;
    margin-top: 214px;
    color: white;
    font-family: KulimPark;
    line-height: 0.7;
}

.banner h1 {
    font-size: 50px;
}
.banner p {
    font-size: 30px;
}

.headingadjacent {
    background-color: #87CFDC;
    font-family: KulimPark;
    text-align: right;
    border: 2px solid;
    height: 574px;
    padding: 10px 15px 0px 0px;
    
}

.headingadjacent h1 {
    font-size: 40px;
    text-decoration: underline;
}

.headingadjacent p {
    font-size: 25px;
} 

.headingadjacent a {
    color: white;
    font-size: 25px;
}

.gallery {
    background-color: #145D6B;
    color: white;
    height: 50px;
}

.gallery h1 {
    margin
}